.offers{
    background: radial-gradient(rgb(255, 255, 255), rgb(255, 214, 214));
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 50px auto;
}

.offer-row{
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.offers .col-2{
    flex-basis: 50%;
    min-width: 250px;
    margin-bottom: 20px;
}

.offers .col-2 img{
    width: 100%;
    height: auto;
}

.offers .col-2 h1{
    font-size: 40px;
    line-height: 60px;
    margin: 20px 0;
}

.offers .col-2 p{
    margin-bottom: 30px;
}

.offers .col-2 img{
    width: 100%;
}

.offers .btn{
    text-decoration: none;
    outline: none;
    background-color: #ff523b;
    padding: 10px 30px;
    border-radius: 25px;
    color: #fff;
    font-weight: 500;
    margin-top: 20px;
    cursor: pointer;
    transition: all .5s ease;
}

.offers .btn:hover{
    background-color: #563434;
}